<div class="footer">
    <div class="logo-footer">
        <img src="{{asset('/assets/img/logo-white.png')}}">
    </div>
    <div class="info-footer">
        <p>{{"It's connected"|trans}}</p>
    </div>
</div>

<div class="footer2">
    <div class="nav2">
        <p class="navinfo">{{"Navigation"|trans}}</p>
        <ul>
            <li><a class="linksMenu" href="/">{{"Home"|trans}}</a></li>
            <li><a class="linksMenu" href="/news">{{"News"|trans}}</a></li>
            <li><a class="linksMenu" href="/news/upcomings/">{{"Coming Soon"|trans}}</a></li>
        </ul>
    </div>
    <div class="capsule-social">
        <a href="#"><img src="{{asset('/assets/img/facebook.png')}}"></a>
        <a href="#"><img src="{{asset('/assets/img/instagram.png')}}"></a>
        <a href="#"><img src="{{asset('/assets/img/twitter.png')}}"></a>
    </div>
    <div class="address">
        <p class="navinfo">{{"Address"|trans}}</p>
        <p class="single-address">{{"Granada, Andalucía, Spain"|trans}}</p>
        
        <p class="navinfo">{{"Contact"|trans}}</p>
        <p class="single-address">hi@capsule.com</p>
    </div>
    <div class="endfooter">
        <p>Capsule Copyright - 2019</p>
    </div>
</div>