<h1>{{'Hello'|trans}} {{username}}</h1>
<h3>{{'Your Capsule account requires activation'|trans}}</h3>
<a href="{{ url('account_activation') }}?urlname={{ urlname }}&email={{ email }}">{{'Click here'|trans}}</a>&nbsp;{{'to activate.'|trans}}