<h1>{{'Hello'|trans}} {{username}}</h1>
<h3>{{'A password change has been requested for your Capsule account'|trans}}</h3>
<a href="{{ url('forgottenpassword') }}?urlname={{ urlname }}&email={{ email }}&token={{ token }}">{{'Click here'|trans}}</a>&nbsp;{{'to register a new one.'|trans}}