<h1>{{'Hello'|trans}} {{pago.cuentausuario.apodo}}</h1>
<h3>{{'You have extended your Capsule premium subscription'|trans}}</h3>
<p>{{'Checkout time:'|trans}} {{pago.fecha|date('d-M-Y, H:i:s')}}</p>
<p>{{'Checkout price:'|trans}} {{pago.importe}}€</p>
<p>{{'Holder surname:'|trans}} {{pago.apellidotitular}}</p>
<p>{{'Holder name:'|trans}} {{pago.nombretitular}}</p>