{% extends 'base.html.twig' %}

{% block title %}{{'Payment Accepted'|trans}} | Capsule{% endblock %}

{% block body %}
    <div class="loader">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
    <div class="wrapper" id="wrapper">
        <div class="firstScreen accountPage" id="firstScreen">
            {% include 'common/nav-logged.html.twig' %}
            <div class="account-tab-header">
                <div><h1 class="tab-header active">{{'PAYMENT'|trans}}</h1></div>
            </div>
            
            <!--Thankyou-->
            <div class="row-box">
                <img class="payment-img" src="{{ asset('assets/img/paymentcard.png')}}">
                <div class="thank-you">
                    <h2 class="nickname">@{{app.user.apodo}}</h2>
                    <p>{{'They payment has been completed.'|trans}}</p>
                    <p>{{'You can see the details in '|trans}}<a href="{{path('capsule_account_billing')}}">{{'the billing page'|trans}}</a>.</p>
                    <p>{{'Thank you for trusting Capsule.'|trans}}</p>
                    <p class="important-data">{{'Your premium service expires '|trans}}{{app.user.fechapremium|date('d-M-Y')}}</p>
                    <a href="{{ path( 'capsule_dashboard' ) }}" class="btn-capsule btn-small">{{'Back to home'|trans}}</a>
                </div>
            </div>
        </div>
        {% include 'common/footer.html.twig' %}
    </div>
{% endblock %}